.detail_header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* align-items: center; */
}

.detail_header h1 {
  margin: auto 0;
}

.detail_back-to-home {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--broken-black);
}

.detail {
  margin-top: 1rem;
}

.thread_comments {
  margin-top: 1rem;
  border-top: 1px solid var(--broken-black);
  padding-top: 1rem;
}

.comment-owner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-owner > p {
  display: inline;
  font-style: italic;
  font-size: 0.75rem;
  margin: auto 0;
  width: 50%;
  text-align: end;
}

.comment-body {
  margin-left: 2.5rem;
}

.comment-input {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.comment-input > input {
  width: 100%;
}

.comment-input > button {
  width: 5rem;
  cursor: pointer;
  background: var(--broken-black);
  color: var(--broken-white);
  border-radius: 1rem;
  height: 2rem;
  border: none;
  font-weight: 600;
  transition: all 0.25s;
}

.comment-input > button:hover {
  background: black;
  border-radius: 0.75rem;
}

@media screen and (min-width: 768px) {
  /* TABLET */

  .comment-input {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  /* DESKTOP */
}
